/* Global Styles ========================================================================= */
/*
    01. Section Header 
    02. Section Banner
    03. Section Trending 
    04. Section Blog 
    05. Section Magazines
    06. Section Footer
*/

/* Reset ================================================================================= */

:root {
    --awj-primary: #D93E40;
    --awj-secondary: #222222;
    --awj-white: #ffffff;
    --awj-dark: #000000;
    --awj-lightbg: #f2f2f2;
    --awj-font-Raleway: 'Raleway', sans-serif;
    --awj-font-Bodoni72: "Bodoni 72";
    --awj-font-Bodoni72C-bold: "Bodoni72C-bold";
}

* {
    margin: 0;
    padding: 0
}

body {
    font-family: var(--awj-font-Raleway);
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--awj-secondary);
}

a {
    text-decoration: none;
    background-color: transparent;
    color: inherit;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
    border: none;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

:focus {
    outline: none;
}

a:focus {
    outline: none;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.none {
    display: none !important;
}

.relative {
    position: relative;
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    line-height: 1.35;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 30px;
}

h4 {
    font-size: 25px;
}

h5 {
    font-size: 20px;
}

h6 {
    font-size: 16px;
}


.pt-80 {
    padding-top: 80px;
}

.pb-80 {
    padding-bottom: 80px;
}

/* Forms */
form {
    display: block;
}

fieldset {
    border: 0;
}

legend {
    display: none;
}

/* Table */
table {
    border: 0;
    border-collapse: collapse;
    border-spacing: 0;
    empty-cells: show;
    font-size: 100%;
}

caption,
th,
td {
    vertical-align: top;
    text-align: left;
    font-weight: normal;
}

/* Lists */
ul,
ol {
    list-style: none;
    margin: 0;
}

/*
    common Heading css
    =======================================
*/

.page-heading p {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: var(--awj-dark);
    margin-bottom: 20px;
}

.page-heading h2 {
    font-family: var(--awj-font-Bodoni72C-bold);
    color: var(--awj-dark);
    font-weight: 700;
    font-size: 90px;
    line-height: 90px;
    text-transform: uppercase;
}


/* 01. Section Header =======
=====================================
=============== */

.header .main-header .top-header {
    background: rgba(0, 0, 0, .2);
    backdrop-filter: blur(25px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--awj-white);
}

.main-header .left-side {
    background-color: var(--awj-white);
    padding: 0 0 0 50px;
}

.main-header .left-side .left-logo {
    padding: 14px;
    width: 290px;
}

.main-header .left-side .left-logo img {
    width: 100%;
}

.header .main-header .top-header .category-link {
    padding: 0 50px 0 0;
}

.header .main-header .top-header .category-link li {
    display: inline-block;
    width: 205px;
    text-align: center;
    border-right: 1px solid var(--awj-white);
    padding: 20px 0;
}

.header .main-header .top-header .category-link li a {
    font-weight: 500;
    color: var(--awj-white);
    text-transform: uppercase;
    font-size: 14px;
    line-height: 20px;
}

.header .main-header .top-header .category-link li a:hover {
    color: var(--awj-primary);
}

.header .main-header .bottom-header {
    background: rgba(0, 0, 0, .2);
    backdrop-filter: blur(25px);
    padding: 0;
    transition: all .4s;
}

.header .main-header .bottom-header .main-menu {
    padding: 0;
}

.header .main-header .bottom-header .main-menu li {
    display: inline-block;
    position: relative;
    padding: 16px 27px;
}

.header .main-header .bottom-header .main-menu li a {
    font-weight: 500;
    color: var(--awj-white);
    text-transform: uppercase;
    font-size: 14px;
    line-height: 20px;
}


.header .main-header .bottom-header .main-menu li.active a,
.header .main-header .bottom-header .main-menu li a:hover {
    color: var(--awj-primary);
}

.header .main-header .bottom-header.fixed {
    position: fixed;
    width: 100%;
    top: 0;
    background-color: var(--awj-dark);
}


/* 02. Section Banner ======= 
=============== */

.hero-banner-section {
    width: 100%;
    position: relative;
    z-index: 0;
}

.hero-banner-section .hero-banner-img img {
    width: 100%;
    object-fit: cover;
    object-position: center;
}


.hero-banner-content .page-title h1 {
    font-family: var(--awj-font-Bodoni72);
    color: var(--awj-white);
    text-transform: uppercase;
    font-size: 80px;
    line-height: 80px;
}

.hero-banner-content p {
    margin: 0;
    color: var(--awj-white);
}

.hero-banner-content .banner-btn .white-btn {
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: var(--awj-white);
    transition: all .3s ease;
    text-transform: uppercase;
    border: 1px solid var(--awj-white);
    border-radius: 0;
    padding: 15px 30px;
    white-space: nowrap;
    display: inline-block;
}

.hero-banner-content .banner-btn .white-btn:hover {
    border-color: var(--awj-primary);
    background-color: var(--awj-primary);
    color: var(--awj-white);
}


/* 03. Trending Section ======= 
=============== */

.trending-section .top-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.trending-section .top-heading .view-link a {
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: var(--awj-dark);
    text-decoration-line: underline;
    position: relative;
    cursor: pointer;
}

.trending-section .top-heading .view-link a::after {
    content: "";
    width: 14px;
    height: 14px;
    background: var(--awj-primary);
    transform: rotate(45deg);
    left: -25px;
    top: 4px;
    position: absolute;
}

.trending-section .top-heading .view-link a:hover {
    color: var(--awj-primary);
}

.popular-section ul.tablist,
.trending-section ul.tablist {
    list-style: none;
    margin: 50px 0 30px 0;
    padding: 0;
}

.popular-section ul.tablist li,
.trending-section ul.tablist li {
    display: inline-block;
    margin-right: 50px;
}

.popular-section ul.tablist li .nav-link,
.trending-section ul.tablist li .nav-link {
    color: var(--awj-dark);
    padding: 0;
    font-family: var(--awj-font-Bodoni72C-bold);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    cursor: pointer;
    background-color: transparent;
}

.trending-section ul.tablist li .nav-link.active,
.popular-section ul.tablist li .nav-link.active,
.trending-section ul.tablist li .nav-link:hover,
.popular-section ul.tablist li .nav-link:hover {
    color: var(--awj-primary);
}

.trending-slider .trending-img img {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
}

.trending-slider .trending-name {
    margin-top: 20px;
    word-spacing: 4px;
}

.trending-slider .trending-name a {
    color: var(--awj-dark);
    font-family: var(--awj-font-Bodoni72);
    text-transform: uppercase;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
}

.magazine-slider.swiper-container-horizontal,
.trending-slider.swiper-container-horizontal {
    padding-bottom: 30px;
}

.trending-slider .trending-name a:hover {
    color: var(--awj-primary);
}

.magazine-slider.swiper-container-horizontal .swiper-scrollbar,
.trending-slider.swiper-container-horizontal .swiper-scrollbar {
    border-radius: 0;
    height: 5px;
    width: 1115px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background: #d6d6d6;
    z-index: 50;
    position: absolute;
}

.magazine-slider.swiper-container-horizontal .swiper-scrollbar .swiper-scrollbar-drag,
.trending-slider.swiper-container-horizontal .swiper-scrollbar .swiper-scrollbar-drag {
    background-color: var(--awj-dark);
    height: 5px;
    width: 200px !important;
    border-radius: 0px;
}

/* 04. Section Blog  ======= 
=============== */

.blog-section {
    background-color: var(--awj-lightbg);
    padding-top: 50px;
}

.blog-section.event-section {
    background-color: transparent;
    padding-bottom: 80px;
    padding-top: 0;
}

.blog-inner-box {
    overflow: hidden;
    transition: all .5s;
    margin-bottom: 30px;
}

.blog-inner-box::before {
    content: "";
    background: var(--awj-dark);
    background: linear-gradient(360deg, rgba(0, 0, 0, 1) 0%, rgba(234, 26, 101, 0) 100%);
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 50%;
    bottom: 0px;
    opacity: .7;
}

.blog-inner-box .blog-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all .5s;
}

.blog-inner-box:hover .blog-img img {
    transform: scale(1.1);
    overflow: hidden;
}

.blog-inner-box .blog-details {
    position: absolute;
    bottom: 0px;
    z-index: 11;
    left: 0px;
    width: 100%;
    padding: 50px;
}

.video-blog-details .blog-content .blog-name,
.blog-inner-box .blog-details .blog-name {
    font-weight: 700;
    letter-spacing: 3px;
    font-size: 14px;
    line-height: 16px;
    color: var(--awj-white);
    margin-bottom: 20px;
    text-transform: uppercase;
    display: block;
}

.video-blog-details .blog-content .blog-title,
.blog-inner-box .blog-details .blog-title {
    font-weight: 400;
    font-size: 30px;
    line-height: 41px;
    color: var(--awj-white);
    font-family: var(--awj-font-Bodoni72);
    text-transform: uppercase;
    display: block;
}

.event-section .blog-inner-box .blog-details .date {
    background-color: var(--awj-lightbg);
    font-weight: 400;
    color: var(--awj-dark);
    display: inline-block;
    padding: 12px 20px;
    margin-top: 20px;
    margin-bottom: 0;
}

.blog-inner-box:hover .blog-details .blog-title {
    color: var(--awj-primary);
    transition: all .5s;
}

.blog-inner-box .blog-details .blog-link {
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    text-decoration-line: underline;
    color: var(--awj-white);
    padding-left: 35px;
    margin-top: 30px;
    display: block;
    position: relative;
}

.blog-inner-box .blog-details .blog-link::after {
    content: "";
    width: 14px;
    height: 14px;
    background: var(--awj-primary);
    transform: rotate(45deg);
    left: 5px;
    top: 2px;
    position: absolute;
}

.blog-inner-box.video-blog {
    margin: 0 0 50px 0;
}

.blog-inner-box.video-blog .blog-img img {
    transform: none;
}

.simple-blog-rows .blog-inner-box::before,
.blog-inner-box.video-blog::before {
    display: none;
}

.video-blog-details {
    display: flex;
    margin-top: 30px;
    align-items: center;
}

.video-blog-details .blog-content {
    padding-left: 20px;
}

.simple-blog-rows .blog-inner-box .blog-details .blog-name,
.simple-blog-rows .blog-inner-box .blog-details .blog-title,
.video-blog-details .blog-content .blog-title,
.video-blog-details .blog-content .blog-name {
    color: var(--awj-dark);
}

.simple-blog-rows .blog-inner-box:hover .blog-details .blog-title,
.video-blog-details:hover .blog-content .blog-title {
    color: var(--awj-primary);
}

.video-blog-details .blog-content .blog-date {
    background-color: rgba(0, 0, 0, 0.05);
    font-weight: 400;
    color: var(--awj-dark);
    text-transform: uppercase;
    display: inline-block;
    padding: 12px 20px;
    margin-top: 10px;
}

.simple-blog-rows .blog-inner-box .blog-details {
    position: relative;
    bottom: 0px;
    z-index: 11;
    left: 0px;
    width: 100%;
    padding: 0;
    margin-top: 30px;
}

.simple-blog-rows .blog-inner-box {
    padding-bottom: 20px;
}

.simple-blog-rows .blog-inner-box .blog-img {
    height: 310px;
    display: block;
    overflow: hidden;
}


/* 05. Section Magazines =======
=====================================
=============== */

.magazine-banner img {
    width: 100%;
}

.magazine-inner-section {
    margin-top: -30%;
    padding: 30px 0 30px 0;
}

.magazine-content h2 {
    font-family: var(--awj-font-Bodoni72);
    text-transform: uppercase;
    font-weight: 400;
    font-size: 31px;
    line-height: 41px;
    margin-bottom: 30px;
    color: var(--awj-white);
}

.magazine-content p {
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: var(--awj-white);
    margin: 0;
}

.book-section .magazine-img a img {
    width: 100%;
}

.magazine-detail .magazine-title a {
    color: var(--awj-dark);
    font-family: var(--awj-font-Bodoni72);
    text-transform: uppercase;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    word-spacing: 4px;
    margin-top: 30px;
    display: inline-block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
}

.magazine-detail .magazine-title a:hover {
    color: var(--awj-primary);
}

.magazine-detail .magazine-date {
    background-color: rgba(0, 0, 0, 0.05);
    font-weight: 400;
    color: var(--awj-dark);
    display: inline-block;
    padding: 12px 20px;
    margin-top: 20px;
    margin-bottom: 0;
}

.book-section .swiper-button_next,
.book-section .swiper-button_prev {
    position: absolute;
    left: auto;
    right: 0;
    top: auto;
    bottom: 200px;
    background: transparent;
    cursor: pointer;
    text-align: center;
    border: none;
    transition: all .3s ease;
}

.book-section .swiper-button_prev {
    margin-right: 155px;
}

.book-section .swiper-button_next {
    margin-right: 80px;
}

.book-section .swiper-button_prev:focus svg path,
.book-section .swiper-button_next:focus svg path {
    fill: var(--awj-primary) !important;
    transition: all .5s;
}

.magazine-box .magazine-content {
    margin-top: 280px;
}

/* 06. Section Footer =======
=====================================
=============== */
.footer {
    background-color: var(--awj-dark);
}

.newsletter-section {
    padding: 50px 0;
    border-bottom: 1px solid var(--awj-white);
}

.newsletter-section .newsletter-title {
    color: #fff;
    font-size: 25px;
    text-align: right;
    font-family: var(--awj-font-Bodoni72);
    line-height: 34px;
    text-transform: uppercase;
}

.newsletter-form {
    width: 80%;
}

.newsletter-form .form-group {
    margin: 0;
    position: relative;
}

.newsletter-form .form-group input {
    background: #222;
    width: 100%;
    font-size: 14px;
    border: none;
    color: #fff;
    padding: 18px;
}

.newsletter-form .form-group .send-button {
    border: none;
    position: absolute;
    z-index: 2;
    right: 0;
    top: 0;
    height: 60px;
    width: 80px;
    background-color: transparent;
    outline: none;
}

.footer-menu .footer-widget {
    padding: 50px 35px;
}

.footer-menu .footer-widget .footer-title {
    font-family: var(--awj-font-Bodoni72);
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 15px;
}

.footer-widget .footer-menu-list {
    padding: 0;
}

.footer-widget .footer-menu-list li+li {
    margin-top: 2px;
}

.footer-widget .footer-menu-list li a {
    font-size: 14px;
    line-height: 26px;
    color: var(--awj-white);
    opacity: .7;
}

.footer-widget .footer-menu-list li a:hover {
    color: var(--awj-primary);
    opacity: 1;
}

.footer-menu .row>div+div {
    border-left: 1px solid rgba(255, 255, 255, .2);
}

.footer-copyright {
    border-top: 1px solid var(--awj-white);
}

.footer-copyright p {
    margin: 0;
    padding: 26px 0;
    color: var(--awj-white);
    opacity: .7;
    font-size: 14px;
}

.footer-copyright p a {
    color: var(--awj-primary);
}

.footer-copyright p a:hover {
    color: var(--awj-white);
}